
<section id="contact"  
[ngStyle]="{'background': ' url('+ pozadina.imageUrl +') no-repeat fixed'}"
>
  <div class="container">
    <div class="row">
     
    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">
       <!--"col-lg-4 col-sm-6" -->
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-4"  *ngFor="let slika of slike">
          <a class="portfolio-box" href="./../{{slika.imageUrl}}">
            <img class="img-fluid" src="./../{{slika.imageUrl}}" alt="{{slika.alt}}"  width="365" height="365">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                
                <div class="project-name">
                  {{slika.name}}
                </div>
              </div>
            </div>
          </a>
        </div>
       
     
      </div>
    </div>
   
      </div>
  </div>
</section>
