<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">

  <div class="container">
 
    <a class="navbar-brand js-scroll-trigger" href="">Studio Rakić  </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">  </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/about">O meni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"  routerLink="/gallery" >Galerija</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"  routerLink="/postovi" >Postovi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"  routerLink="/product" >Proizvodi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/contact" >Kontakt</a>
        </li>
       <!-- <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/loginForm" >Admin-panel</a>
        </li>-->
      </ul>
     
    </div>
  </div></nav>


  <router-outlet></router-outlet>